.header-landing-page {
    height: 8vh;
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    padding-left: 12rem;
    padding-right: 12rem;
    color: #fff;
    font-weight: 500;
    /* border-bottom: 1px solid white; */
    box-shadow: 0 0.3px 0 white;
    padding-top: 0.5vh;
}

.Registration-Header-Right-Side {
    cursor: pointer;
    display: flex;
    margin: 10px 10px 10px 0px;
    font-weight: 600;
}

.Registration-Header-Right-Side-img {
    height: 20px;
    width: 20px;
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Icons\phone-solid.svg');
    margin-right: 10px;
    margin-top: 2px;
}

.Registration-Header-left-Side {
    display: flex;
    margin-top: 10px;
    /* padding-left: 50vw; */
    font-weight: 600;
}


.Registration-Header-left-Side-col2-img {
    cursor: pointer;
    height: 21px;
    width: 21px;
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Icons\Exit.svg');
    margin-right: 10px;
}
.nav-bar{
    height: 7.6rem;
    width: 100%;
    padding: 0 12rem;
    background-color: #DADADA;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.nav-bar-signin-opt{
    display: flex;
    font-weight: 500;
    margin-top: 6px;
}
.nav-bar-health-care-opt{
    padding: 6px 15px;
    background-color: #E30517;
    display: flex;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
}
.nav-bar-health-care-opt:hover{
    background-color: #FBCF2D;
    text-decoration: none;
    color: #000;
}
.nav-bar-health-care-opt img{
    width: 15px;
}
.nav-bar-signin-opt img{
    height: 1rem;
    padding-top: 4px;
    margin-left: 10px;
    margin-right: 4px;
    margin-top: 2px;
}
.nav-bar-signin-opt-Links{
    width: 30rem;
    justify-content: space-between;
}
.nav-bar-signin-opt-Link{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.nav-bar-signin-opt-Link:hover{
    color: #ED1C27;
}

/* Home */

.home-hero-section{
    height: 100vh;
    width: 100%;
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\Group 470.jpg');
    background-size: cover;
    padding: 2rem 12rem;
    color: #fff;
}
.home-hero-section p{
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.home-hero-section-box{
    width: 27rem;
    height: 21rem;
    margin-right: 3rem;
    background-color: #fff;
    border-radius: 10px;
}
.home-hero-section-box h3{
    color: #5F5F5F;
}
.home-hero-section-box p{
    color: #909090;
    font-size: 15px;
    padding: 0 1rem;
}
.home-hero-section-box-img {
    height: 20px;
    width: 20px;
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Icons\red-phone-solid.svg');
    margin-right: 10px;
    margin-top: 2px;
}
.home-hero-section-box-p{
    line-height: 3px;
    text-align: center;
    font-weight: 500;
}
.home-hero-section-box-input{
    width: 7rem;
    height: 2.5rem;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    margin-left: 85px;
    margin-right: 20px;
}
.home-hero-section-box-button{
    width: 8rem;
    height: 2.5rem;
    background-color: #E30517;
    padding-top: 6px;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding-left: 10px;
}
.home-hero-section-box-button img{
    width: 22px;
    margin-left: 5px;
    margin-bottom: 7px;
}
.home-section-1{
    padding: 4rem 12rem;
}
.home-section-1 h2{
    padding: 0 10rem;
    color: #5F5F5F;
}
.home-section-1-logos{
    display: flex;
    justify-content: space-evenly;
    height: 6.8rem;
    align-items: center;
    margin: 2rem 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.50);
}
.home-section-1-logos img{
    height: 2.5rem;
}
.home-section-1 p{
    color: #909090;
    font-size: 17px;
}
.home-section-1-boxes{
    display: flex;
    justify-content: space-between;
}
.home-section-1-boxes h5{
    color: #5F5F5F;
    font-weight: 600;
    margin: 3rem 1rem 1rem 1rem;
}
.home-section-1-boxes p{
    color: #909090;
    margin: 0rem 1rem;
    font-size: 15px;
}
.home-section-1-box-1{
    width: 14rem;
    height: 27rem;
    border-radius: 15px;
    background-color: #FAF2F3;
}
.home-section-1-box-2{
    width: 14rem;
    height: 24rem;
    border-radius: 15px;
    background-color: #FCF8E8;
}
.home-sec-1-images-sections{
    display: flex;
    justify-content: space-between;
}
.home-sec-1-images-sec-img{
    height: 16rem;
}
.home-sec-1-images-sec-img-2{
    height: 10rem;
    margin-top: 3rem;
    margin-left: 1rem;
}
.home-sec-1-images-sec-img-2-wrap{
    background-color: #DEDEDE;
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
}
.home-sec-1-images-sec{
    width: 16rem;
}
.home-sec-1-images-sec h4{
    text-align: center;
    color: #5F5F5F;
    margin-top: 15px;
}
.home-sec-1-images-sec h5{
    text-align: center;
    font-size: 17px;
    color: #5F5F5F;
}
.home-sec-1-images-sec p{
    text-align: center;
    color: #909090;
}
.home-sec-1-images-sec h6{
    text-align: center;
    font-size: 17px;
    color: #E30517;
}

/* Section-2 */

.home-section-2{
    width: 100%;
    height: 39rem;
    background-color: #E30517;
    padding: 4rem 12rem;
    color: #fff;
}
.home-section-2 p{
    padding: 0 6rem;
}
.home-section-2-boxes{
    display: flex;
    justify-content: space-between;
}
.home-section-2-box{
    width: 19rem;
    height: 24rem;
    border-radius: 25px;
    background-color: #fff;
}
.home-section-2-box h5{
    padding: 0 2rem;
    color: #5F5F5F;
}
.home-section-2-box p{
    padding: 0 2rem;
    font-size: 14px;
    color: #909090;
}
.home-section-2-box-img-1{
    width: 19rem;
    height: 11rem;
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\home-section2-image-1.png');
    background-size: cover;
}
.home-section-2-box-img-2{
    width: 19rem;
    height: 11rem;
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\home-section2-image-1.png');
    background-size: cover;
}
.home-section-2-box-img-3{
    width: 19rem;
    height: 11rem;
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\home-section2-image-1.png');
    background-size: cover;
}

/* Section-3 */

.home-section-3{
    width: 100%;
    height: 33rem;
    background-color: #FBCF2D;
    padding: 3rem 12rem;
    display: flex;
    position: relative;
}
.home-section-3-text{
    width: 28rem;
}
.home-section-3-text p{
    font-weight: 600;
}
.home-section-3-box-img {
    height: 20px;
    width: 20px;
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Icons\red-phone-solid.svg');
    margin-right: 10px;
    margin-top: 6px;
}
.home-section-3-box-img-2 {
    height: 20px;
    width: 20px;
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Icons\calendar-days-solid.svg');
    margin-right: 10px;
    margin-top: 6px;
}
.home-section-3 span{
    color: #E30517;
    font-weight: 600;
    font-size: 17px;
}
.home-sec-3-img{
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\footer-man.png');
    position: relative;
    top: -4.7rem;
    background-size: cover;
    width: 18.4rem;
    height: 34.7rem;
    margin-left: 14rem;
}

/* footer */
.footer{
    width: 100%;
    height: 77rem;
    background-color: #323232;
    padding: 4rem 12rem;
    color: #fff;
}
.footer-sec-1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    border-bottom: 2px solid white;
}
.footer-sec-1 img{
    height: 55px;
    margin-right: 10px;
}
.footer-sec-1 p{
    width: 16rem;
    font-size: 17px;
    margin-top: 0.5rem;
}
.footer-button {
    background-color: #E30517;
    padding: 6px 2rem;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.footer-sec-2{
    padding: 3rem 0;
    border-bottom: 2px solid white;
}
.footer-sec-3{
    padding: 3rem 15rem 0 15rem;
}

/* Find Agents */

.Find-agent-section{
    height: 53vh;
    width: 100%;
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\Group 470.jpg');
    background-size: cover;
    padding: 2rem 12rem;
    color: #fff;
}
.Find-agent-section p{
    font-size: 17px;
    padding: 10px 6rem 20px 6rem;
}
.find-agent-Selection-sec{
    margin: 0 4rem;
    width: 51rem;
    height: 6rem;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem 1rem;
}
.find-Agent-hero-button {
    width: 20rem;
    border: 1px solid #909090;
}
.find-Agent-hero-button img{
    margin-left: 7rem;
}
.find-agent-dropdown-button{
    padding: 0.4rem 1rem;
    background-color: #E30517;
    color: #fff;
    border-radius: 10px;
    border: none;
}
.agent-section{
    width: 100%;
    padding: 4rem 12rem;
}
.agent-section h2{
    font-weight: 600;
    color: #5F5F5F;
    text-align: center;
}
.agent-section span{
    color: #EC1C27;
}
.agent-list-grid{
    display: flex;
    padding: 0.4rem 0.6rem 0.4rem 0;
    border: 1px solid #DADADA;
    border-radius: 10px;
}
.agent-list-grid img{
    cursor: pointer;
}
.agent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 17rem;
    border-radius: 10px;
    padding: 2rem 2rem;
    border: 1px solid #DADADA;
    color: #77819C;
}
.agent h4{
    font-weight: 600;
    color: #5F5F5F;
}
.agent-img{
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
    border-radius: 50%;
}
.agent-info{
    display: flex;
}
.agents-info-img{
    width: 1.3rem;
    margin-right: 0.5rem;
}
.agent-info-line{
    height: 9rem;
    width: 2px;
    margin-top: 1rem;
    margin-right: 0.9rem;
    background-color: #D8DBE6;
}
.agent-info-text{
    width: 27rem;
}
.agent button{
    padding: 0.5rem 1rem;
    background-color: #EC1C27;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-top: 0.8rem;
}

.agent-grid {
    display: flex;
    justify-content: space-between;
    width: 32%;
    height: 20rem;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    border: 1px solid #DADADA;
    color: #77819C;
}
.agent-grid p{
    line-height: 20px;
}
.agent-grid-img{
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    border-radius: 50%;
}
.agent-grid-button{
    padding: 0.5rem 1rem;
    background-color: #EC1C27;
    color: #fff;
    border: none;
    border-radius: 6px;
}
.agent-grid-button-1 {
    position: absolute;
    bottom: -23rem;
}
.agent-grid-button-2{
    position: absolute;
    bottom: -44.5rem;
}
.agent-grid-button-3{
    position: absolute;
    bottom: -66rem;
}
.agent-grid-button-4{
    position: absolute;
    bottom: -87.5rem;
}
.agent-grid-button-5{
    position: absolute;
    bottom: -109rem;
}

/* Events page */

.events-sec-1{
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\events-hero-image.png');
    height: 20rem;
    width: 100%;
    background-size: cover;
}
.events-sec-1-child{
    width: 100%;
    height: 100%;
    padding: 9rem 12rem;
    background-color: rgba(0, 0, 0, 0.7); 
}
.events-sec-1-child h3{
    color: #fff;
}
.events-sec-1-input{
    width: 100%;
    height: 4rem;
    background-color: #fff;
    padding: 0 1rem;
    justify-content: space-between;
}
.events-sec-1-input img{
    height: 1.4rem;
}
.events-sec-1-input input{
    height: 4rem;
    width: 45rem;
    margin: 0 1rem;
    border: none;
    outline: none;
}
.event-button{
    padding: 0.5rem 1rem;
    background-color: #EC1C27;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-left: 2.4rem;
}
.events-sec-2{
    padding: 4rem 12rem;
}
.events-sec-2 h2{
    color: #5F5F5F;
    margin-bottom: 30px;
}
.events-sec-2 h6{
    text-align: center; 
    font-size: 17px;
    font-weight: 400;
    color: #909090;
}
.events-sec-2-questions{
    padding: 2rem 10rem;
}
.events-sec-2-questions h2{
    padding: 0 2rem;
}
.events-questions{
    text-align: center;
    color: #909090;
    font-size: 17px;
    padding-top: 15px;
    border-bottom: 1px solid #AEAEAE;
    cursor: pointer;
}
.events-sec-3{
    display: flex;
    width: 100%;
    /* height: 50rem; */
}
.events-sec-3-left-side{
    width: 50%;
    height: 40rem;
    padding: 4rem 3rem 4rem 12rem;
    background-color: #ED1C27;
    color: #fff;
}
.events-sec-3-right-side{
    width: 50%;
    padding: 4rem 12rem 4rem 1rem;
    background-color: #FBCF2D;
}
.events-sec-3-right-side ul li::marker {
    color: red; /* Change to your desired color */
}
.events-sec-3-right-side li{
    font-weight: 700;
}
.events-sec-3-right-side h3{
    padding-left: 20px;
}
.events-sec-3-right-side p{
    font-weight: 500;
    padding-left: 20px;

}


/* FAQs page */

.FAQs-sec-1{
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\FAQs-bg-img.png');
    height: 20rem;
    width: 100%;
    background-size: cover;
}
.events-sec-1-child{
    width: 100%;
    height: 100%;
    padding: 9rem 12rem;
    background-color: rgba(0, 0, 0, 0.7); 
}
.events-sec-1-child h3{
    color: #fff;
}
.events-sec-1-input{
    width: 100%;
    height: 4rem;
    background-color: #fff;
    padding: 0 1rem;
    justify-content: space-between;
}
.events-sec-1-input img{
    height: 1.4rem;
}
.events-sec-1-input input{
    height: 4rem;
    width: 45rem;
    margin: 0 1rem;
    border: none;
    outline: none;
}
.event-button{
    padding: 0.5rem 1rem;
    background-color: #EC1C27;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-left: 2.4rem;
}
.FAQs-button{
    padding: 0.5rem 1rem;
    background-color: #EC1C27;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-left: 1.5rem;
}
.FAQs-sec-2{
    padding: 4rem 12rem;
}
.FAQs-sec-2 h2{
    color: #5F5F5F;
    margin-bottom: 30px;
}
.FAQs-sec-2 h6{
    text-align: center; 
    font-size: 17px;
    font-weight: 400;
    color: #909090;
}
.FAQs-sec-2-questions{
    border-top: 1px solid #AEAEAE;
}
.FAQs-questions{
    text-align: center;
    color: #909090;
    font-size: 17px;
    padding: 15px 1rem;
    border-bottom: 1px solid #AEAEAE;
    cursor: pointer;
}
.FAQs-questions p{
    padding-top: 15px;
}
.FAQs-sec2-questions {
    padding: 2rem 7rem;
}


/* Locations */
.location-sec1{
    height: 53vh;
    width: 100%;
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\location-img-1.png');
    background-size: cover;
}
.location-sec-2{
    width: 100%;
    padding: 4rem 12rem;
}
.location-sec-2 h2{
    color: #5F5F5F;
    font-weight: 600;
}
.location-sec-2 p{
    color: #909090;
    font-size: 17px;
}
.location-option{
    width: 29.4rem;
}
.location-opt-top{
    background-color: #5F5F5F;
    color: #fff;
    padding: 1rem 2rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.location-opt-img{
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\location-img-2.png');
    background-size: cover;
    width: 29.4rem;
    height: 11rem;
}
.location-opt-info{
    padding: 2rem 14rem 2rem 2rem;
    background-color: #F9FAFC;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.location-opt-info img{
    height: 1.5rem;
    margin-right: 1rem;
}
.location-opt-info-2{
    padding: 2rem 4rem 2rem 2rem;
    background-color: #F9FAFC;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.location-opt-info-2 img{
    height: 1.5rem;
    margin-right: 1rem;
}

/* Healthcare page */
.HealthCare-hero-section{
    height: 45vh;
    width: 100%;
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\healthcare-bg.png');
    background-size: cover;
    color: #fff;
}
.HealthCare-hero-section p{
    font-size: 17px;
    padding: 10px 2rem 20px 2rem;
}
.healthcare-sec-1-child{
    width: 100%;
    height: 100%;
    padding: 3rem 12rem;
    background-color: rgba(0, 0, 0, 0.7); 
}
.healthcare-sec-2{
    width: 100%;
    padding: 3rem 12rem;
}
.healthcare1-part-1{
    width: 35rem;
    padding-right: 2rem;
}
.healthcare1-part-1 h2{
    padding-right: 4rem;
    font-weight: 600;
    color: #5F5F5F;
}
.healthcare1-part-1 h5{
    /* padding-right: 8rem; */
    font-weight: 600;
    color: #5F5F5F;
}
.healthcare1-part-1 p{
    padding-right: 4rem;
    color: #909090;
}
.healthcare-features{
    width: 15rem;
    display: flex;
}
.healthcare-features img{
    margin-right: 1rem;
    width: 3rem;
}
.healthcare-spans{
    display: grid;
    margin-top: 1.3rem;
}
.healthcare-span{
    color: #909090;
    line-height: 20px;
}
.healthcare-highlight-span{
    color: #5F5F5F;
    font-weight: 500;
}
.healthcare-features-Link{
    background-color: #E30517;
    color: #fff;
    margin-top: 4rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.healthcare-features-Link:hover{
    color: #000;
    text-decoration: none;
    background-color: #FBCF2D;
}
.healthcare1-part-2{
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\healthcare-image-1.png');
    background-size: cover;
    width: 28rem;
    height: 32rem;
    border-radius: 25px;
}
.healthcare2-part-2{
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\healthcare-image-2.png');
    background-size: cover;
    width: 28rem;
    height: 32rem;
    border-radius: 25px;
}
.healthcare2-part-1{
    width: 35rem;
    padding-left: 2rem;
}
.healthcare2-part-1 h2{
    padding-right: 8rem;
    font-weight: 600;
    color: #5F5F5F;
}
.healthcare2-part-1 h5{
    /* padding-right: 8rem; */
    font-weight: 600;
    color: #5F5F5F;
}
.healthcare2-part-1 p{
    padding-right: 4rem;
    color: #909090;
}
.healthcare3-part-2{
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\healthcare-image-3.png');
    background-size: cover;
    width: 28rem;
    height: 32rem;
    border-radius: 25px;
}
.healthcare4-part-2{
    background-image: url('F:\Websites\React JS\boomers-insurance\public\Images\healthcare-image-4.png');
    background-size: cover;
    width: 28rem;
    height: 27rem;
    border-radius: 25px;
}